mixin storeCard(store = {})
  .store
    .card.h-100(style="width: 18rem; display: flex; flex-direction: column;")
      img.card-img-top(src=`/uploads/${store.photo || 'store.png'}`)
      .card-body.d-flex.flex-column
        h5.card-title
          a(href=`/store/${store.slug}` style="color:black") #{store.name}
        p.card-text= store.description.split(' ').slice(0, 15).join(' ')
        .row-container.row-buttons
          if (user && (store.author.equals(user._id) || user.is_admin))
            a.btn.btn-primary(href=`/stores/${store._id}/edit`) Edit
          if (user && user.is_admin)
            a.btn.btn-danger(href=`/stores/delete/${store._id}`) Delete
