extends layout

block content
    .container
        h2 Top #{stores.length} Stores
        table.table
            thead
                tr
                    th(scope="col") #
                    th(scope="col") Photo
                    th(scope="col") Name
                    th(scope="col") Reviews
                    th(scope="col") Average Rating
            tbody
                each store, i in stores
                    tr
                        th(scope="row") #{i + 1}
                        td
                            a(href=`/store/${store.slug}`)
                                img(width=200 src=`/uploads/${store.photo || 'store.png'}` alt=store.name)
                        td 
                            a(href=`/store/${store.slug}`)= store.name
                        td #{store.reviews.length}
                        td #{(store.averageRating).toFixed(1)} / 5
